spring:
  application:
    name: reserveone

  datasource:
    url: jdbc:h2:mem:reserveone-db;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  sql:
    init:
      mode: always

  jpa:
    hibernate:
      ddl-auto: none
    defer-datasource-initialization: true
    show-sql: true
    properties:
      hibernate:
        output:
            ansi:
                enabled: ALWAYS #Pretty Colors

server:
  port: 8080

info:
  app:
    name: ReserveOne
    version: 0.1.0
    description: Full-stack reservation service (H2 dev database)

logging:
  level:
    org.hibernate.SQL: DEBUG
